## Standard ignores:
# Backup files
*~
# Matlab
*.mat
*.mex*
# Python compiled objects
*.pyc
# Vim swap files
.*.swp
.*.swo
# Compiled libraries
*.so

## Project ignores:

# General
external/
test/

# 1702_keck2014_abscal
1702_keck2014_abscal/planck_smooth/*.fits
1702_keck2014_abscal/planck_smooth/tmp/

# 1707_skip_tfpustd
1707_test_skip_tfpustd/private/

# S0006_K15_fpdata
S0006_K15_fpdata/*.csv

# S0007_legendre_stress_test
S0007_legendre_stress_test/stresstest
